* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.top-wrapper {
  text-align: center;
  padding-top: 50px;
  padding: 0 30px;
  margin-top: 80px;
  margin-left: 110px;;
  width:800px;
 border: 2px solid green;
}
.header h1 {
  font-size: 2rem;
  font-weight: 200;
  color: hsl(229, 6%, 66%);
}
.header h2 {
    margin-top: -20px;
  font-size: 2rem;
  color: hsl(234, 12%, 34%);
  font-weight: 900;
}
.top-wrapper p {
  text-align: center;
  font-size: 1.2rem;
  white-space: nowrap;
}
